.about {
    padding-top: 5rem;
    padding-bottom: 6.25rem;

    @include phones() {
        padding-right: 2%;
        padding-left: 2%;
    }
    
}
.about__container {
    display: flex;
    justify-content: center;
    align-items: center;
}


.about__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about__title {
    font-size: 3rem;
    color: $black;

    margin-bottom: 1.5rem;

    @include phones() {
        font-size: 2.5rem;
    }
}

.about__text {
    max-width: 48.313em;
    font-family: Roboto;
    font-size: 1rem;
    line-height: 1.7rem;
    color: #4e4d53;

    @include phones() {
        font-size: 0.9rem;
    }
}

