.form {
    margin-top: 3.75rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.form__col {
    display: flex;
    flex-direction: column;

}

.form__block {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form__row {
    display: flex;
    margin-bottom: 3rem;
}

.form__block-title {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.45;
    margin-bottom: 0.625rem;

    display: flex;
    align-items: center;

    &:before {
        content: "";
        display: flex;
        justify-content: center;
        align-items: center;
        width: 64px;
        height: 64px;
        border-radius: 50%;
        border: 1px solid rgba(255, 255, 255, 0.3);

        margin-right: 1.75rem;

        @include tablets() {
            display: none;
        }
    }

    &_one:before {
        content: "1";
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-family: Roboto;
        font-size: 1.25rem;
        font-weight: 500;
        color: $orange;
        @include tablets() {
            display: none;
        }
    }

    &_two:before {
        content: "2";
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-family: Roboto;
        font-size: 1.25rem;
        font-weight: 500;
        color: $orange;
        @include tablets() {
            display: none;
        }
    }

    &_three:before {
        content: "3";
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-family: Roboto;
        font-size: 1.25rem;
        font-weight: 500;
        color: $orange;
        @include tablets() {
            display: none;
        }
    }

    &_four:before {
        content: "4";
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-family: Roboto;
        font-size: 1.25rem;
        font-weight: 500;
        color: $orange;
        @include tablets() {
            display: none;
        }
    }
}

.form__block-input {
    margin-left: 11%;
    background-color: transparent;
    padding: 0.75rem;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    color: #fff; 
    font-size: 1.5rem;

    @include tablets() {
        margin-left: 0;
        }

    &:active {
        color: #fff;
        font-size: 1.5rem;
        border-bottom: 1px solid rgba(255, 255, 255, 1);
    }

    &:focus {
        color: #fff;
        font-size: 1.5rem;
        border-bottom: 1px solid rgba(255, 255, 255, 1);
    }

    &:hover {
        color: #fff;
        font-size: 1.5rem;
    }

    
}

::placeholder {
    opacity: 0.3;
    font-family: Roboto;
    font-size: 1.5rem;
    line-height: 1.45;
}

.form__block-input_textarea {
    resize: vertical;
}

.form__row-btns {
    display: flex;
    justify-content: center;
}

input:invalid {
    border-color: #900;
  }
  
  input:focus:invalid {
    outline: none;
  }

  input:focus{outline: none;}
  
  /* ошибки */
  .error {
    width  : 100%;
    padding: 0;
   
    font-size: 80%;
    border-radius: 0 0 5px 5px;
   
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  